<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="topnav">
    <a href="../">Home</a>
    <a class="active" href="../flights/index">All flights</a>
    <a href="../flights/new">Create flights</a>
  </div>
    <table>
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight #</th>
            <th>Departs</th>
          </tr>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
              <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %> 
                    <tr>
                        <td><%= f.airline %></td>
                        <td><%= f.airport %></td>
                        <td><%= f.flightNo %></td>
                        <td class="<%= f.departs<Date.now() ? 'red' : 'green' %>"><%= f.departs.toLocaleDateString(undefined, options) %></td>
                        <td><a href="/flights/<%= f._id %>">Details</a></td>
                    </tr>
                    <% }); %>
        </tbody>
      </table>
</body>
</html>