<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="topnav">
        <a href="../">Home</a>
        <a href="../flights/index">All flights</a>
        <a href="../flights/new">Create flights</a>
      </div>
    <section>
        <div>Flight: <%= flight.airline %></div>
        <div></div>
        <div>Airport: <%= flight.airport %></div>
        <div></div>
        <div>Flight Number: <%= flight.flightNo %></div>
        <div></div>
        <div>Departure: <%= flight.departs %></div>
        <div></div>
        <div>Destinations: </div>
        <% flight.destinations.forEach(f => { %>  
            <div><%= f.airport %> <%= f.arrival %></div>
            <div></div>
            <% }); %>
      </section>
        
      <br><br><h2>Add a new destination to trip</h2>
       <form id="add-destination-form" method="POST"
         action="/flights/<%= flight._id %>/destinations">
         <label>Airport:</label>
         <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
         <label>Arrival Date:</label>
         <input type="datetime-local" name="arrival">
         <input type="submit" value="Add destination">
       </form>
      
</body>
</html>
  